* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #333;
    color: white;
    transition: background-color 0.5s ease;
}

#navbar:hover {
    background-color: #555;
}

.logo {
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
}

.cartImage {
    width: 40px;
    height: 40px;
}

.products {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
    align-items: center;
}

.card:hover {
    transform: scale(1.05);
}

img {
    width: 100%;
    border-radius: 8px;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

p {
    font-size: 16px;
    color: #555;
}

button {
    border: none;
    border-radius: 4px;
    padding: 10px;
    background-color: #26bc50;
    color: white;
    font-weight: bold;
    width: max-content;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

button:hover {
    background-color: #c5d73a;
}

.cart {
    position: relative;
    cursor: pointer;
}

#dropdown-cart {
    opacity: 0;
    transform: scale(0.9);
    transform-origin: top right;
    position: absolute;
    right: 0;
    top: 34px;
    width: 250px;
    border: 1px solid #333;
    z-index: 5;
    padding: 10px;
    background-color: #fff;
    color: #333;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: opacity 0.5s ease, transform 0.3s ease;
}

.cart:hover #dropdown-cart {
    opacity: 1;
    transform: scale(1);
}

.cart-total {
    font-weight: bold;
    margin-top: 10px;
}

#delete-all {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background-color: #dc3545;
    color: white;
}

#delete-all:hover {
    background-color: #bd2130;
}



#dropdown-cart.hidden {
    display: none;
}

#dropdown-cart {
    transition: opacity 0.5s ease, transform 0.3s ease;
}
